<h1>Me Find Another One!!</h1>
<p>__________________________________________</p>
<h2>Here's its information!</h2>
<form action="/restaurants" method="POST">
  <input type="text" palceholder="the name of FANCY Restaurant..." name="name" value="">
  <button type="submit">submit</button>
</form>