header {
  overflow: hidden;
}

.navbar .navbar-brand {
  color: #4592af;
}

.navbar .navbar-brand:hover {
  color: #226089;
}

.update-btn, .back-btn {
  background-color: #9b4b4b;
  border-color: #9b4b4b;
  border-radius: 2em;
  margin-top: 2em;
 
}


.update-btn:hover, .back-btn:hover {
  background-color: #fce2cf;
  border-color: #fce2cf;
  color: #9b4b4b;
}


.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 360px;
  background: #dddddd center center url('https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg');
  background-size: cover;
  filter: blur(3px);
}

.search-bar .search-bar-outer {
  margin: 0 auto;
  max-width: 680px;
  background-color: #fce2cf;
  border-radius: 8px;
  padding: 20px 30px;
  border: 0;
  margin-top: -60px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.search-bar .search-bar-inner h4 {
  color: #9b4b4b;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.btn-major {
  background-color: #9b4b4b;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.edit-btn, .recommend-btn {
  color:#9b4b4b;
}
.edit-btn:hover,
.recommend-btn:hover {
  color: #fce2cf;
  text-decoration: none;
}
.detail-btn {
  color: #9b4b4b;
}
.detail-btn:hover {
  color: #fce2cf;
  text-decoration: none;
}

.minus-btn {
  color:#9b4b4b;
  background-color: transparent;
  border-color: transparent;
  cursor: default;
  margin-top: -2.2px;
  margin-left: -5px;
}

.minus-btn:hover {
  color: #fce2cf;
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card img {
  height: 180px;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}

.restaurant-show-title {
  position: relative;
  top: -100px;
  color: white;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.error {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  color: #4592af;
}

.error:hover {
  color:#226089;
  text-decoration: none;
}

@media screen and (max-width: 992px) {

  .card img {
    height: 115px;
  }
}

@media screen and (max-width: 768px) {

  .restaurant-show-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 575px) {

  .card img {
    height: auto;
  }

}